body{
background-color: black;
    text-align: center;
    /*background-image: url("https://dulichvietnam.com.vn/data/tinanh9.jpg");*/
    background-image: url("https://i.gifer.com/DgoH.gif");
}
canvas{
    border: 2px solid blue;
    /*background: black;*/
    background-image: url("https://i.gifer.com/1owN.gif");
}
div{


}